<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpeg" href="https://cdn-icons-png.flaticon.com/512/720/720255.png">
  <link rel="stylesheet" href="style.css">
  <title>Profile</title>
</head>
<body>
  <div class="center-container">
    <div class="content profile-container">
      <h1>Hello, <%= user.displayName %>!</h1>
      <img src="<%= user.photos[0].value %>" alt="Profile Picture" class="profile-pic">
      <p><strong>Email:</strong> <%= user.emails[0].value %></p>
      <a href="/logout" class="btn logout-btn">Logout</a>
    </div>
  </div>
</body>
</html>
